
<h1>Albums</h1>

<div class="artist-search">

{{#each album}}
    <div class="card">
        
        <img src="{{this.images.0.url}}">
        <p>{{this.name}}</p>
        <button>
            <a href="/tracks/{{this.id}}">View tracks</a>
        </button>
    </div>
{{/each}}

</div>