<h1>Results</h1>
<div class="artist-search">
{{#each artists}}
    <div class="card">
        
        <img src="{{this.images.0.url}}" alt="Album cover">
        <p>{{this.name}}</p>
        <button> 
            <a href="/albums/{{this.id}}">View Albums</a>
        </button>
       

    </div>
        
{{/each}}
</div>